#hm {
    background-color: aquamarine;
    width: 600px;
    border:2px  solid;
    border-radius: 30px;
    font-size: 22px;
    margin: auto;
}

h2{ width: 599px;
    border-radius: 20px 20px 0px 0px ;
   

text-align: center;
padding-bottom: 10px;
padding-top: 15px;
margin: auto;
}

#dangky{width: 600px;   
margin: auto;           
}
#dangky label{
    padding-left: 10px;
    width:150px; display: inline-block; color: darkorange;
}
#dangky .txt{
    width: 400px ; border: 1px solidn darkorange; padding: 10px;
}
#dangky button{
    width: 150px; height: 40px; font-size: lem;
    background-color: rgb(15, 117, 83);
    color: aliceblue;
}
.txt{
    border-radius: 30px;
    background-color: rgb(241, 169, 101);
}
button{border-radius: px;
}
.st{
    font-size: 17px;
  left: 165px;
  position: relative;
    bottom:45px;

}
.gc{
    position: relative;
    bottom: 95px;
}
.gcc{
    position: relative;
    bottom: 20px;
}